@page "/"

<div class="row">
    <div class="col-6">
        <img src="images/banner-3840x1920.png" class="img-fluid" alt="banner" />
    </div>
    <div class="col-6 d-flex align-items-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">fitability™️</h1>
                <p class="text-center fs-2">your friendly fitness/workout activity tracking app</p>
            </div>
        </div>
    </div>
</div>
